<h1><%= @user.name %>'s Bucket List</h1>

<h2>Goals: </h2>

<% @user.goals.each do |goal| %>
  <h4><a href="/goals/<%= goal.id %>"><%= goal.title %></a></h4>
  <h6>Posted on <%= goal.formatted_created_at %></h6>
  <%= goal.description %><br><br>

  <% if goal.completed? %>
    <label><b>Completed? </b></label>YES!
  <% else %>
    <label><b>Completed? </b></label>NOPE
  <% end %>  

  <br>
<% end %>