<h2>All Goals</h2>

<% @goals.each do |goal| %>
  <h4><a href="/goals/<%= goal.id %>"><%= goal.title %></a></h4>
  <h6>Posted on <%= goal.formatted_created_at %></h6>
  <h5>By: <%= goal.user.name %></h5><br>
  <%= goal.description %><br><br>

  <% if goal.completed? %>
    <label><b>Completed? </b></label>YES!
  <% else %>
    <label><b>Completed? </b></label>NOPE
  <% end %>  

  <br><br>
<% end %>