<h1>Goal </h1>
<br>
  <h2><%= @goal.title %></h2>
  <h5>Created: <%= @goal.created_at %></h5><br>
  <p><%= @goal.description %></p>
  
  <% if @goal.completed? %>
    <label><b>Completed? </b></label>YES!
  <% else %>
    <label><b>Completed? </b></label>NOPE
  <% end %> 

<br><br>

<% if authorized_to_edit?(@goal) %>
  <a href="/goals/<%= @goal.id %>/edit">Edit</a>
  <br>
  <a href="/goals/<%= @goal.id %>/delete">Delete</a>
<% else %>
  nil
<% end %>
