<h1>Goal </h1>
<br>
  <h2><%= @goal.title %></h2>
  <h5>Created: <%= @goal.created_at %></h5><br>
  <p><%= @goal.description %></p>
  
  <% if @goal.completed? %>
    <label><b>Completed? </b></label>YES!
  <% else %>
    <label><b>Completed? </b></label>NOPE
  <% end %> 

<% if authorized_to_edit?(@goal) %>
<br><br>
  <a href="/goals/<%= @goal.id %>/edit">Edit</a>
  <br><br>
  <form action="/goals/<%= @goal.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Goal" id="Delete Goal">
  </form>
<% end %>
