<h1>Goal: </h1>
<br>
  <h2><%= @goal.title %></h2>
  <h5>Created: <%= @goal.created_at %></h5>
  <h3><%= @goal.description %></h3>
  <% if @goal.completed? %>
    <h3>Completed? YES!</h3>
  <% else %>
    <h3>Completed? NOPE</h3>
  <% end %>

<% if authorized_to_edit?(@goal) %>
  <a href="/goals/<%= @goal.id %>/edit">Edit</a>
  <br>
  <a href="/goals/<%= @goal.id %>/delete">Delete</a>
<% else %>
  nil
<% end %>
